@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');
@import "tailwindcss";



:root {
  --primary: #26229a;
  --secondary: #3f3c9a;
  --primary-light: #7764ac;
  --highlight: #b83867;
  --accent: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --color-accent: var(--accent);
  --font-primary: "Hind Madurai", sans-serif;
  --font-secondary: "Prompt", sans-serif;
}

body {
  background: var(--secondary);
  color: var(--accent);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 18px;
}


